.edit-profile-button:hover {
    background-color: #e7f1ff; 
    color: #0d6efd;
    border-radius: 0.25rem;
    text-decoration: none;
}


.friend-list-item:hover {
    background: #f0f4fa;
    transition: background 0.2s;
}


/* css that is relevant for Recommendations */

.has-reccomendations-dot {
    position: absolute;
    top:3px;
    right:2px;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

.recommendations-button:hover {
    background-color: #e7f1ff; 
    color: #0d6efd;
    border-radius: 0.25rem;
    text-decoration: none;
}
.tab-header {
    display: inline-block;
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-radius: 8px 8px 0 0;
    border: 1px solid #dee2e6;
    border-bottom: none;
    margin-bottom: -1px;
    font-weight: bold;
    color: #495057;
}

.recommendation-list-item:hover{
    background: #f0f4fad0;
    transition: background 0.2s;
 
}
.recommendation-list-item .view-profile-button{
    display: none;
}
.recommendation-list-item:hover .view-profile-button{
    display: inline;
}
.recommendation-list-item-name{
    transition: 2s all;

}
.view-profile-button:hover {
    background-color: #e7f1ff; 
    color: #0d6efd;
    border-radius: 0.25rem;
    text-decoration: none;
}


.chatMessage:hover .chatMessageDateTime{

    display:flex !important; 


}